<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  
  <display-name>Satori Basic Application</display-name>
  
  <listener>
    <listener-class>org.h2.server.web.DbStarter</listener-class>
  </listener>
  
  <!-- 
     Shiro Security Filter
  -->
  <filter>
    <filter-name>Shiro Filter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Shiro Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 
     Jersey Filter
  -->
  <filter>
    <filter-name>Jersey Filter</filter-name>
    <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
      <!-- Excludes assets and atmosphere servlet paths -->
      <param-value>/(assets|atmosphere)/.*</param-value>
    </init-param>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>app.ExampleApp</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
      <param-value>satori.jersey.spi.filter.ShiroResourceFilterFactory</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Jersey Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 
      Atmosphere Servlet
  -->
  <servlet>
    <description>AtmosphereServlet</description>
    <servlet-name>AtmosphereServlet</servlet-name>
    <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
    <!-- List of init-param -->
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>pubsub</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <!--
    <init-param>
      <param-name>org.atmosphere.cpr.defaultContextType</param-name>
      <param-value>application/json</param-value>
    </init-param>
    -->
    <load-on-startup>0</load-on-startup>
    <!-- If you want to use Servlet 3.0 -->
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtmosphereServlet</servlet-name>
    <url-pattern>/atmosphere/*</url-pattern>
  </servlet-mapping>

  <!-- 
     Assets Servlet
  -->
  <servlet>
    <servlet-name>Resource Servlet</servlet-name>
    <servlet-class>satori.assets.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resource Servlet</servlet-name>
    <url-pattern>/assets/*</url-pattern>
  </servlet-mapping>

</web-app>
