
= attributes("title") = "Scalate Satori Samples"
= attributes("headers") = "<style>body{background-color: white;}</style>"

#main-samp
  .wrap
    img(src = "images/scalate/project-logo.png")
    :!flow
      p.tagline Welcome to Scalate: the Scala Template Engine. Try surfing some of the examples below
      .section
        h1 Sample Applications
        .list
          a(href="track") Track Application
      .section
        h1 Resources
        .list
          a(href="http://scalate.fusesource.org/documentation/index.html") Scalate documentation

